.text {
    color: white;
    font-family: 'Lucida Console';
}
.glow_circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 0 50px 10px white;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
 }
.rotate {
    animation: spin 10s linear infinite;
}